.introduction_container{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.533);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.introduction_modal{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: 90vh;
    /* background-color: #333333; */
    background-image: url('https://res.cloudinary.com/dx0bwa7xp/image/upload/v1663224306/bgGray_pxrfjn.jpg');
    background-size: cover;
    background-position: center;
    /* z-index: 10; */
}

.introduction_button{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.introduction_button button{
    height: 30px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.786);
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.introduction_button button:hover{
    background-color: rgba(255, 255, 255, 0.915);
}

.introduction_image{
    display: flex;
    height: 350px;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}

.introduction_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 1.3rem;
}
