
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap');

.register_container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    background-image: url('https://res.cloudinary.com/dx0bwa7xp/image/upload/v1662947041/bg_rqk0mi.png');
    background-size:cover;
    background-position: center;
    animation: opacity 7s linear infinite;
    font-family: 'Poppins', sans-serif;
}

@keyframes opacity{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 0.8;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.register_card{
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: #093A3E; */
    background-color: rgba(0, 0, 0, 0.939);
    border-radius: 10px;
}
.register_form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.button_enviar{
    width: 80px;
    height: 30px;
}
.register_form input{
    border-top:none ;
    border-right:none ;
    border-left:none ;
    height: 30px;
    color: rgba(255, 255, 255, 0.783);
    font-size: 1.1rem;
    width: 220px;
    background-color: rgba(0, 0, 0, 0.591);
    outline: none;
}
.register_title{
    position: absolute;
    top: 20px;
    left: 20px;
}
.register_info{
    width: 320px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: end;
    outline: solid 1px white;
    position: absolute;
    right: 10px;
    top: 30%;
}

.login_link{
    text-decoration: none;
    color: white;
}
.login_link_container{
    width: 310px;
    height: 40px;
}